.countries-item {
  list-style-type: none;
  width: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #334155;
}

.thumbnail-img {
  width: 100%;
}
.bottom-container {
  height: 50px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.remove-btn {
  background-color: transparent;
  color: white;
  height: 30px;
  width: 70px;
}
.country-name {
  color: white;
}
