* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  min-height: 100vh;
  background-color: #161624;
  padding: 30px;
}
.country-heading {
  font-family: 'Roboto';
  color: white;
}
.countries-list-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 50vh;
  padding: 20px;
}
.visited-countries-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
}
